



<div class="parent-wrapper">
            <h1> Post Your Comments!!</h1>
    
            <!--Textare to add a comment-->
            <div class="comment-box">
                <h3> Add Comment:</h3>
                <textarea id="InputAddcomment" class="comment-area"  [(ngModel)]="data"></textarea>
                <button id="addcommentbtn" class="btn" (click)="addcomment()"> Add Comment </button>
            </div>
    
        <!--List of all the add comments-->
            <div class="commentlist">
                <h3>Previous Comments: </h3>
                <div class="comment-item" *ngFor="let comment of comments">
                    <div class="comment comment-body"> <strong>Comment: </strong> {{comment.comment}}</div>
                    <div class="comment additionaldetails"> 
                        <button class="commentdetails btn" id="addvote" (click)="addvotes(comment)"> <img src="assets/upvote_2.png" alt="upvote">Upvotes <span class="votecount"> ({{comment.votecount}}) </span></button> 
                        <span class="commentdetails timedetails">{{comment.time | date:"MM/dd/yyyy 'at' h:mma"}}</span> 
                    </div>    
                </div>
            </div>

    </div>