
    
.parent-wrapper{ width:100%;margin: 2% 25px;}
.parent-wrapper h1{color: rgb(16, 16, 22);text-align:center;}
.parent-wrapper .comment-box{  position:relative;}
.parent-wrapper .comment-box .comment-area{ width:60%; padding: 5px 10px; font-size:15px; min-height:150px;}
.parent-wrapper .comment-box #addcommentbtn{ margin:0 0px 0px 15px ; padding: 10px 10px; position:absolute; bottom:5px;background-color:black; color:white;}

.parent-wrapper .commentlist{margin: 2% 0 0 0;}
.parent-wrapper .commentlist .comment-item{ background-color:rgb(252, 252, 252); padding: 15px 5px 10px 5px; margin:20px 0 5px 0;border-radius:10px;font-size:16px;}
/* .parent-wrapper .commentlist .comment-item .comment{float:left; margin:0 10px;padding: 10px 5px 10px 20px;}*/
.parent-wrapper .commentlist .comment-item .comment-body{padding:5px 10px 10px 10px; border-radius:5px;line-height:23px;} 
.parent-wrapper .commentlist .comment-item .additionaldetails{/*border-top:1px solid black*/ padding: 10px 10px 5px 10px;text-align: right; }
.parent-wrapper .commentlist .comment-item .additionaldetails .commentdetails{ margin:0 5px;padding: 10px 10px; font-size:13px;background-color:black; color:white;}
.parent-wrapper .commentlist .comment-item .additionaldetails .timedetails{ width:150px;padding: 11px 10px;font-size:14px;}
.parent-wrapper .commentlist .comment-item .additionaldetails .btn img{height:14px;position:relative; top:2px; margin-right:2px;}
.parent-wrapper .commentlist .comment-item .additionaldetails #addvote {width:150px;}